:root {
    --primary: #1B262C;
    --secondary: #1B262C;
    --info-light: #BBE1FA;
    --text: #1B262C;

}

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: unset;
}

body {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.centered {
    align-items: center;
}

.cp {
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-start {
    display: flex;
    justify-content: start;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}


.navbar {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

section {
    padding-top: 7rem;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 2rem;
}

.navbar .nav-link {
    color: #e9e9e9;
}

/* banner start  */


.hero-header {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-header img {
    animation: shake 5s linear infinite;
}


@keyframes shake {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.sect-banner {
    background-color: #000;
    height: 50vh;
}

.banner-content button {
    border: 0;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 8px;
    color: #e9e9ff;
}

/********* form css ****************
################################## */
.form-bg {
    background-color: #fff;
    padding: 36px;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
}

.form-ui label {
    font-weight: 600;
    margin-bottom: 0.65rem;
}

.form-ui :is(label, input, select, textarea) {
    font-size: 15px;
}

.form-ui :is(input, select, textarea) {
    border-color: #444;
    border-radius: 8px;
}

.form-ui .form-group {
    margin-bottom: 32px;
}

.form-ui :is(input, select) {
    height: 44px;
}

.form-ui textarea {
    padding-top: 0.7rem;
}

/* select arrow right padding  */
.form-ui.form-bg select {
    border-right: 9px solid #fff
}

.form-ui.form-bg select:focus {
    border-right-color: #fff
}

/* end  */



svg path {
    fill: rgb(224, 101, 101);
    stroke: rgb(247, 247, 247);
    stroke-width: 0.543726px;
}

svg path:hover {
    fill: rgb(155, 70, 70);
}